absl-py==0.13.0
actionlib==1.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alabaster==0.7.12
albumentations==1.0.3
angles==1.9.12
anyio==3.3.0
apex==0.1
argh==0.26.2
argon2-cffi==20.1.0
argunparse==0.1.2
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
base-local-planner==1.16.6
bleach==3.1.5
blessings==1.7
cached-property==1.5.2
cachetools==4.1.1
catkin==0.7.23
certifi==2020.4.5.1
cffi==1.14.6
chardet==3.0.4
clang==5.0
cloudpickle==1.6.0
cmake==3.21.1.post1
colorama==0.4.4
contextvars==2.4
cycler==0.10.0
Cython==0.29.24
dataclasses==0.8
decorator==4.4.2
defusedxml==0.6.0
diagnostic-updater==1.9.3
distro==1.5.0
dlib==19.22.0
docutils==0.16
dynamic-reconfigure==1.6.3
entrypoints==0.3
face-alignment==1.3.4
ffmpeg==1.4
filterpy==1.4.5
flatbuffers==1.12
gast==0.4.0
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
gensim==3.8.3
gitdb==4.0.7
google-api-core==1.31.1
google-auth==1.34.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.40.0
h5py==3.1.0
higher==0.2.1
hiredis==2.0.0
huggingface-hub==0.0.12
hyperopt==0.2.5
idna==2.9
idna-ssl==1.1.0
imageio==2.9.0
imageio-ffmpeg==0.4.4
imagesize==1.2.0
immutables==0.15
importlib-metadata==1.6.0
imutils==0.5.4
interactive-markers==1.11.5
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
joblib==1.0.1
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyter-server==1.10.2
jupyterlab==3.1.1
jupyterlab-server==2.6.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
laser-geometry==1.6.5
livereload==2.6.1
llvmlite==0.36.0
lmdb==1.2.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.4
message-filters==1.14.5
mistune==0.8.4
msgpack==1.0.2
multidict==5.1.0
nbclassic==0.3.1
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.5.1
nltk==3.4.5
numba==0.53.1
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
open3d @ file:///home/ubuntu/Desktop/LIDAR/Open3D/build/lib/python_package/pip_package/open3d-0.9.0.0-cp36-cp36m-linux_x86_64.whl
opencensus==0.7.13
opencensus-context==0.1.2
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
opt-einsum==3.3.0
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
port-for==0.3.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.17.3
ptyprocess==0.6.0
py-spy==0.3.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyglet==1.5.18
Pygments==2.6.1
pykitti==0.3.1
pynvml==11.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.0
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==19.0.0
qimage2ndarray==1.8.3
regex==2020.7.14
requests==2.23.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rosbag==1.14.5
rosclean==1.14.8
rosgraph==1.14.5
roslaunch==1.14.5
roslib==1.14.8
roslz4==1.14.5
rosmaster==1.14.5
rosmsg==1.14.5
rosnode==1.14.5
rosparam==1.14.5
rospy==1.14.5
rosservice==1.14.5
rostest==1.14.5
rostopic==1.14.5
rosunit==1.14.8
roswtf==1.14.5
rsa==4.6
rviz==1.13.12
sacremoses==0.0.45
scikit-image==0.17.2
scipy==1.5.4
seaborn==0.10.1
semver==2.13.0
Send2Trash==1.5.0
sensor-msgs==1.12.7
six==1.15.0
slurmpy==0.0.8
smart-open==5.1.0
smclib==1.8.3
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinx-autobuild==0.7.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.4
tensorflow==2.6.0
tensorflow-estimator==2.6.0
tensorflow-gpu==2.3.0
tensorflow-hub==0.12.0
tensorflow-text==2.6.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf==1.12.1
tf-estimator-nightly==2.4.0.dev2020101001
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
Theano==1.0.4
threadpoolctl==2.2.0
tifffile==2020.9.3
tk==0.1.0
tokenizers==0.10.3
topic-tools==1.14.5
torch==1.9.1
torchsummary==1.5.1
torchvision==0.10.1
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
trimesh==3.9.25
typing-extensions==3.7.4.3
urllib3==1.25.9
version-query==1.1.0
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.1
wget==3.2
wordsegment==1.3.1
wrapt==1.12.1
wxPython==4.1.0
yacs==0.1.8
yarl==1.6.3
zipp==3.1.0
